<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <%= f.label :delivery_address %><br>
          <%= f.text_field :delivery_address, :class => 'form-control' %>
        </div>
      </div>
  </div>
  
  <div class="row">
      <div class="col-md-4">
          <div class="form-group">
              <%= f.label :delivery_city %><br>
              <%= f.text_field :delivery_city, :class => 'form-control' %>
          </div>
      </div>
  
      <div class="col-md-2">
          <div class="form-group">
              <%= f.label :delivery_province %><br>
              <%= select_tag :delivery_province, options_for_select(@order.provinces), :class => 'form-control' %>
          </div>
      </div>
  
      <div class="col-md-2">
          <div class="form-group">
              <%= f.label :delivery_postalcode %><br>
              <%= f.text_field :delivery_postalcode, :class => 'form-control postal-code' %>
          </div>
      </div>
  </div>
  
  <div class="form-group checks">
    <%= f.label :pizza_size %><br>
    <%= f.radio_button :pizza_size, :small %> <%= f.label :pizza_size_small, 'Small'  %>
    <%= f.radio_button :pizza_size, :medium %> <%= f.label :pizza_size_medium, 'Medium'  %>
    <%= f.radio_button :pizza_size, :large %> <%= f.label :pizza_size_large, 'Large'  %>
  </div>
  
  <div class="form-group checks">
    <%= f.label :pizza_toppings %><br>
    <%= f.check_box :pizza_toppings, {multiple: true, checked:checked('Pineapple')}, 'Pineapple', nil %> <%= f.label :pizza_toppings_pineapple, 'Pineapple'   %>
    <%= f.check_box :pizza_toppings, {multiple: true, checked:checked('Ham')}, 'Ham', nil %> <%= f.label :pizza_toppings_ham, 'Ham'  %>
    <%= f.check_box :pizza_toppings, {multiple: true, checked:checked('Extracheese')}, 'Extracheese', nil %> <%= f.label :pizza_toppings_extracheese, 'Extra cheese'  %>
    <%= f.check_box :pizza_toppings, {multiple: true, checked:checked('Bacon')}, 'Bacon', nil %> <%= f.label :pizza_toppings_bacon, 'Bacon'  %>
    <%= f.check_box :pizza_toppings, {multiple: true, checked:checked('Ranch')}, 'Ranch', nil %> <%= f.label :pizza_toppings_bacon, 'Ranch'  %>
    <%= f.check_box :pizza_toppings, {multiple: true, checked:checked('Blackolives')}, 'Blackolives', nil %> <%= f.label :pizza_toppings_bacon, 'blackolives'  %>
    <%= f.check_box :pizza_toppings, {multiple: true, checked:checked('Pepperoni')}, 'Pepperoni', nil %> <%= f.label :pizza_toppings_bacon, 'Pepperoni'  %>
    <%= f.check_box :pizza_toppings, {multiple: true, checked:checked('Onion')}, 'Onion', nil %> <%= f.label :pizza_toppings_bacon, 'Onion'  %>
    <%= f.check_box :pizza_toppings, {multiple: true, checked:checked('Bluecheese')}, 'Bluecheese', nil %> <%= f.label :pizza_toppings_bacon, 'bluecheese'  %>
    <%= f.check_box :pizza_toppings, {multiple: true, checked:checked('Bbarbecue')}, 'Barbecue', nil %> <%= f.label :pizza_toppings_bacon, 'Barbecue'  %>
  </div>
  <div class="form-group checks">
    <%= f.label :pizza_crust %><br>
    <%= f.radio_button :pizza_crust, :pam %> <%= f.label :pizza_crust_pam, 'Pam'  %>
    <%= f.radio_button :pizza_crust, :french %> <%= f.label :pizza_crust_french, 'French'  %>
    <%= f.radio_button :pizza_crust, :thin %> <%= f.label :pizza_crust_thin, 'Thin'  %>
  </div>
  
  <% if current_user.admin? -%>
    <div class="form-group">
      <%= f.label :delivered %><br>
      <%= f.check_box :delivered %>
    </div>
  <% end -%>
  
  <% if @order.new_record? -%>
    <%= f.submit "Place order", :class => 'btn btn-primary' %>
  <% else -%>
    <%= f.submit "Update order", :class => 'btn btn-primary' %>
    <%= link_to 'Back', orders_path, :class => 'btn btn-info' %>
  <% end -%>
  
<% end %>
