<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :delivery_address %><br>
    <%= f.text_field :delivery_address, :class => 'form-control' %>
  </div>
  
  <div class="field">
    <%= f.label :delivery_postalcode %><br>
    <%= f.text_field :delivery_postalcode, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :delivery_province %><br>
    <%= f.text_field :delivery_province, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :delivery_city %><br>
    <%= f.text_field :delivery_city, :class => 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :pizza_size %><br>
    <%= f.radio_button :pizza_size, :small %><%= f.label :pizza_size_small, 'Small'  %>
    <%= f.radio_button :pizza_size, :medium %><%= f.label :pizza_size_medium, 'Medium'  %>
    <%= f.radio_button :pizza_size, :large %><%= f.label :pizza_size_large, 'Large'  %>
  </div>
  <div class="field">
    <%= f.label :pizza_toppings %><br>
    <%= f.check_box :pizza_toppings, {multiple: true}, 'pineapple' %><%= f.label :pizza_toppings_pineapple, 'Pineapple'  %>
    <%= f.check_box :pizza_toppings, {multiple: true}, 'ham' %><%= f.label :pizza_toppings_ham, 'Ham'  %>
    <%= f.check_box :pizza_toppings, {multiple: true}, 'extracheese' %><%= f.label :pizza_toppings_extracheese, 'Extra cheese'  %>
    <%= f.check_box :pizza_toppings, {multiple: true}, 'bacon' %><%= f.label :pizza_toppings_bacon, 'Bacon'  %>
  </div>
  <div class="field">
    <%= f.label :pizza_crust %><br>
    <%= f.radio_button :pizza_crust, :pam %><%= f.label :pizza_crust_small, 'Pam'  %>
    <%= f.radio_button :pizza_crust, :french %><%= f.label :pizza_crust_medium, 'French'  %>
    <%= f.radio_button :pizza_crust, :thin %><%= f.label :pizza_crust_large, 'Thin'  %>
  </div>
  
  <% if current_user.admin? -%>
    <div class="field">
      <%= f.label :delivered %><br>
      <%= f.check_box :delivered %>
    </div>
  <% end -%>
  
  <div class="actions">
    <%= f.submit "Place order", :class => 'btn btn-primary' %>
  </div>
<% end %>
