<div class="page-header">
  <h1>Listing Orders</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Customer Info</th>
      <th>Pizza</th>
      <th class="options"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>
          <%= order.user.first_name %> / <%= order.user.email %>
          <br />
          <strong>Delivery address:</strong> <%= order.delivery_address %>, <%= order.delivery_postalcode %> - <%= order.delivery_province %> - <%= order.delivery_city %>
          
          <% if order.delivered -%>
            <span class="label label-success">Delivered</span>
          <% else -%>
            <span class="label label-default">Waiting</span>
          <% end -%>
          
          <br />
          <strong>Created at:</strong> <%= order.created_at.strftime('%c')  %>
        </td>
        <td>
          <strong>Size: </strong><%= order.pizza_size %><br />
          <strong>Toppings: </strong><%= order.pizza_toppings %><br />
          <strong>Crust option: </strong><%= order.pizza_crust %>
        </td>
        <td>
          <%= link_to 'Show', order_path(order), :class => 'btn btn-xs btn-info' %>
          <%= link_to 'Edit', edit_order_path(order), :class => 'btn btn-xs btn-info' %>
          <%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-xs btn-danger' %>
          <% if !order.delivered -%>
            <br />
            <%= link_to 'Mark as delivered', order_deliver_path(:order_id => order.id), :class => 'btn btn-xs btn-default btn-mark-delivered' %>
          <% end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
