<div class="page-header success">
    <h1>Your order has been placed #<%= @order.id %></h1>
</div>

<% if @order.delivered? -%>
<div class="alert alert-info" role="alert">
    Your order is set to be delivered
</div>
<% end -%>

<h4>Delivery address</h4>
<div class="well">
    <%= @order.delivery_address %>, <%= @order.delivery_province %> - <%= @order.delivery_city %> - <%= @order.delivery_postalcode %>
</div>

<h4>Your order</h4>
<div class="well">
    <dl class="dl-horizontal">
      <dt>Pizza size: </dt>
      <dd><%= @order.pizza_size %></dd>
      
      <dt>Toppings: </dt>
      <dd><%= @order.pizza_toppings %></dd>
      
      <dt>Crust option: </dt>
      <dd><%= @order.pizza_crust %></dd>
    </dl>
</div>

<h4>Total</h4>
<h4><%= number_to_currency @order.total %></h4>
